<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="petSuite">
    <test verbose="2" preserve-order="true" name="C:/Users/ASUS1/IdeaProjects/APIPetstore">
        <classes>
            <class name="test.DDTests">
                <methods>
                    <include name="testPostuser"/>
                    <include name="testDeleteUserByName"/>
                </methods>
            </class>
            <class name="test.UserTests">
                <methods>
                    <include name="testPostUser"/>
                    <include name="testGetUserbyName"/>
                    <include name="updateUserByName"/>
                    <include name="deleteUser"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>